body { /*set body defaults*/
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 10px;
  overscroll-behavior: none;
}

html { /*set html defaults*/
  scroll-behavior: smooth;
  min-height: 100vh;
  min-width: 100vw;
}

/*define relative font sizes*/
h1 { 
  font-size: 15em;
  margin: 0;
}
h2 {
  font-size: 5.8em;
  margin: 0;
}
h3 {
  font-size: 3.8em;
  margin: 0;
}
h4 {
  font-size: 3.0em;
  margin: 0;
}
h5 {
  font-size: 2.3em;
  margin: 0;
}
p {
  font-size: 1.5em;
}

/*this shit is always annoying to type so lets do it only one time*/
ul {
  list-style-type: none; /*removes bullet points on lists*/
}
a {
  text-decoration: none; /*removes underlines on links*/
}

/*change font size relative to screen width*/
/*non 1920x1080 will look horrible without this*/
@media all and (max-width: 700px) {
  body {
      font-size: 9px;
  }
  p {
      font-size: 1.35em;
  }
  h2 {
      font-size: 1.7em;
  }
}
@media all and (max-width: 835px) {
  body {
      font-size: 12px;
  }
}
@media all and (max-width: 900px) {
  body {
      font-size: 15px;
  }
}
@media all and (min-width: 2110px) {
  body {
      font-size: 24px;
  }
}
@media all and (min-width: 3510px) {
  body {
      font-size: 35px;
  }
}
@media all and (max-width: 500px) {
  h1 {
      font-size: 3em !important;
  }
  p {
      font-size: 1.1em;
  }
  h2 {
      font-size: 1.4em;
  }
}

/*make text selection more professional*/
::selection {
  background: var(--pink); /* WebKit/Blink Browsers */
  color: var(--grey)
}
::-moz-selection {
  background: var(--pink); /* WebKit/Blink Browsers */
  color: var(--grey)
}

::-webkit-scrollbar-track {
  background-color: white;
}

.react-calendar-heatmap {
  background-color: #db747d;
  margin-left: 340px;
  margin-bottom: 800px;
  height: 208px;
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: white;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */
.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}