html {
  background-color: #1E1E1E;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.problem-display {
  font-size: 28px;
  height: auto;
  min-width: 950px;
}

.problem-container {
  position: relative;
  display: flex;
  height: 50px;
  margin: 10px 20px 10px 20px;
  padding: 0 30px 0 10px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.problem-name {
  position: absolute;
  width: 100%;
  text-align: center;
}

.problem-info {
  display: flex;
  gap: 50px;
  height: 100%;
}

.problem-difficulty,
.problem-status {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: white;
}

.problem-status {
  width: 150px;
}

.problem-odd {
  background-color: #55A662;
  color: white;
}

.problem-even {
  background-color: rgb(255, 255, 255);
  color: #55A662;
}

.mild {
  background-color: rgb(77, 152, 116);
}

.med {
  background-color: rgb(226, 109, 24);
}

.hot {
  background-color: black;
}

.solved {
  background-color: rgb(138, 99, 187);
}

.opened {
  background-color: rgb(87, 87, 87);
}

.new {
  background-color: rgb(99, 159, 215);
}
